
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Playfair+Display:wght@900&family=Sumana:wght@700&display=swap');



/* font-family: 'Jost', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Sumana', serif; */


body {
  margin: 0;
  font-family: 'Jost', sans-serif;
}

.app {
  text-align: center;
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app-header {
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 30px;
}

.app-logo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}


.main-description{
  color: black;
  font-size: 60px;
  margin: 1.5rem 0;
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
}

.description {
  font-family: 'Jost', sans-serif;
  color: black;
  font-size: 24px;
  margin: 1.5rem 0;
  font-weight: 800;
}

.links {
  display: flex;
  flex-direction: row;
  color: black;
  width: 80%;
  justify-content: space-around;
  margin-bottom: 30px;
}

.app-link {
  color: black;
  font-size: 40px;
}

.text-second-description {
  font-size: 16px;
}

.skills {
  font-size: 13px;
  color: #242424;
  text-align: center;
}

.contact {
  width: 90%;
}

.contact-text {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.footer {
  margin-bottom: 30px;
  margin-top: 20px;
  color: #242424;
  font-size: 12px;
}







@media only screen and (min-width: 768px) {
  .app-header {
    padding-top: 45px;
  }

  .second-description {
    margin-left: 50px;
    margin-right: 50px;
  }

  .text-second-description {
    font-size: 18px;
  }

  .skills {
    font-size: 14px;
  }

  .links {
    width: 60%;
  }
}



@media only screen and (min-width: 1024px) {
  body {
    width: 60%;
    margin: auto;
  }

  .skills {
    font-size: 15px;
  }

  .app-link:hover {
    animation: move 1s ease-in-out;
  }
} 


@keyframes move {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}