@import url("https://fonts.googleapis.com/css2?family=Trispace:wght@200;300;400;500;600;700&display=swap");

@font-face {
  font-family: "made_sunflowerregular";
  src: url("made_sunflower_personal_use-webfont.woff2") format("woff2"),
    url("made_sunflower_personal_use-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

.App.light {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.3s all;
  .button-toggle {
    margin-top: 30px;
    .mode {
      border-radius: 50%;
      padding: 5px;
      width: 30px;
      height: 30px;
    }
  }
  .app-header {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    .app-logo {
      border: 4px solid #c2a400;
      padding: 5px;
      width: 250px;
      margin: auto;
      height: 250px;
      border-radius: 50%;
    }
    .left-container {
      width: 300px;
      .about-me {
        .main-description {
          color: #242424;
          font-size: 60px;
          margin: 1.5rem 0;
          font-family: "made_sunflowerregular";
          letter-spacing: 0.2rem;
          font-weight: bolder;
          .hello {
            color: #242424;
          }
        }
      }
      .description {
        font-family: "Jost", sans-serif;
        color: #c2a400;
        font-size: 24px;
        margin: 1.5rem 0;
        font-weight: 700;
      }
      .second-description {
        .text-second-description {
          font-size: 18px;
          font-family: "Jost", sans-serif;
          .link-tarot-impulso {
            font-weight: 700;
            text-decoration: none;
            background-image: linear-gradient(
              rgba(168, 142, 189, 0.5) 0%,
              rgba(168, 142, 189, 0.5) 100%
            );
            background-position: 0 100%;
            background-repeat: repeat-x;
            background-size: 4px 4px;
            transition: background-size 0.4s;
          }
          a:hover {
            background-size: 4px 50px;
          }
        }
        .skills {
          font-size: 18px;
          color: #242424;
          text-align: center;
          font-family: "Jost", sans-serif;
        }
      }
    }
  }
  .links {
    display: flex;
    flex-direction: row;
    color: #242424;
    width: 80%;
    justify-content: space-around;
    margin-bottom: 30px;
    .app-link {
      color: #242424;
      font-size: 40px;
    }
  }
  .contact{
    .contact-text {
      font-size: 16px;
      text-align: center;
      font-weight: bold;
      font-family: "Jost", sans-serif;
      .mail {
        color: black;
        font-weight: 700;
        text-decoration: none;
        background-image: linear-gradient(
          rgba(168, 142, 189, 0.5) 0%,
          rgba(168, 142, 189, 0.5) 100%
        );
        background-position: 0 100%;
        background-repeat: repeat-x;
        background-size: 4px 4px;
        transition: background-size 0.4s;
      }
      a:hover {
        background-size: 4px 50px;
      }
    }
  }
  .footer {
    margin-bottom: 30px;
    margin-top: 20px;
    color: #242424;
    font-size: 15px;
    font-family: "Jost", sans-serif;
  }
}

.App.dark {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  color: #e3e3e3;
  transition: 0.3s all;
  .button-toggle {
    margin-top: 30px;
    .mode {
      border-radius: 50%;
      padding: 5px;
      width: 30px;
      height: 30px;
    }
  }
  .app-header {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    .app-logo {
      border: 4px solid #fccac6;
      padding: 5px;
      width: 250px;
      margin: auto;
      height: 250px;
      border-radius: 50%;
    }
    .left-container {
      width: 300px;
      .about-me {
        .main-description {
          color: #242424;
          font-size: 60px;
          margin: 1.5rem 0;
          font-family: "made_sunflowerregular";
          letter-spacing: 0.2rem;
          font-weight: bolder;
          .hello {
            color: #e3e3e3;
          }
        }
      }
      .description {
        font-family: "Jost", sans-serif;
        color: #fccac6;
        font-size: 24px;
        margin: 1.5rem 0;
        font-weight: 700;
      }
      .second-description {
        .text-second-description {
          font-size: 18px;
          font-family: "Jost", sans-serif;
          .link-tarot-impulso {
            border-bottom: none;
            color: #e6dfec;
            font-weight: 700;
            text-decoration: none;
            background-image: linear-gradient(
              rgba(168, 142, 189, 0.5) 0%,
              rgba(168, 142, 189, 0.5) 100%
            );
            background-position: 0 100%;
            background-repeat: repeat-x;
            background-size: 4px 4px;
            transition: background-size 0.4s;
          }
          a:hover {
            background-size: 4px 50px;
          }
        }
        .skills {
          font-size: 18px;
          color: white;
          text-align: center;
          font-family: "Jost", sans-serif;
        }
      }
    }
  }
  .links {
    display: flex;
    flex-direction: row;
    color: #242424;
    width: 80%;
    justify-content: space-around;
    margin-bottom: 30px;
    .app-link {
      color: #e3e3e3;
      font-size: 40px;
    }
  }
  .contact{
    .contact-text {
      font-size: 16px;
      text-align: center;
      font-weight: bold;
      font-family: "Jost", sans-serif;
      .mail {
        border-bottom: none;
        color: #e6dfec;
        font-weight: 700;
        text-decoration: none;
        background-image: linear-gradient(
          rgba(168, 142, 189, 0.5) 0%,
          rgba(168, 142, 189, 0.5) 100%
        );
        background-position: 0 100%;
        background-repeat: repeat-x;
        background-size: 4px 4px;
        transition: background-size 0.4s;
      }
      a:hover {
        background-size: 4px 50px;
      }
    }
  }
  .footer {
    margin-bottom: 30px;
    margin-top: 20px;
    color: grey;
    font-size: 15px;
    font-family: "Jost", sans-serif;
  }
}

@media only screen and (min-width: 768px) {
  body {
    margin: 0 auto;
    padding: 0;
  }
  .App.light {
    width: 100%;
    margin: auto;
    .app-header {
      display: flex;
      .left-container {
        width: 600px;
        .second-description {
          margin-left: 50px;
          margin-right: 50px;
          .text-second-description {
            font-size: 18px;
          }
          .skills {
            font-size: 17px;
          }
        }
      }
    }
  }
  .App.dark {
    width: 100%;
    margin: auto;
    .app-header {
      display: flex;
      .left-container {
        width: 600px;
        .second-description {
          margin-left: 50px;
          margin-right: 50px;
          .text-second-description {
            font-size: 18px;
          }
          .skills {
            font-size: 17px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  body {
    margin: 0 auto;
    padding: 0;
  }
  .App.light {
    .button-toggle {
      margin-top: 20px;
    }
    .app-header {
      width: 900px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-right: 0px;
      padding-left: 0px;
      padding-top: 0px;
      .left-container {
        margin-left: 50px;
        .description {
          text-align: left;
        }
        .second-description {
          text-align: left;
          margin-left: 0px;
          margin-right: 0px;
          .skills {
            font-size: 17px;
            text-align: left;
            margin-bottom: 30px;
          }
        }
      }
    }
    .links {
      width: 900px;
      margin-bottom: 10px;
      .app-link {
        &:hover {
          animation: move 1.6s ease-out;
        }
      }
    }
    .footer {
      margin-bottom: 10px;
      margin-top: 0px;
    }
  }
  .App.dark {
    .button-toggle {
      margin-top: 20px;
    }
    .app-header {
      display: flex;
      flex-direction: row;
      width: 900px;
      padding-right: 0px;
      padding-left: 0px;
      padding-top: 0px;
      .left-container {
        margin-left: 50px;
        .description {
          text-align: left;
        }
        .second-description {
          text-align: left;
          margin-left: 0px;
          margin-right: 0px;
          .skills {
            font-size: 17px;
            text-align: left;
            margin-bottom: 30px;
          }
        }
      }
    }
    .links {
      width: 900px;
      margin-bottom: 10px;
      .app-link {
        &:hover {
          animation: move 1.6s ease-out;
        }
      }
    }
    .footer {
      margin-bottom: 10px;
      margin-top: 0px;
    }
  }
}

@keyframes move {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
